@{
    ViewData["Title"] = "Home";
}

	<style>
.nav{
	height: 65vh;
	text-align: center;

	background-image: url('img/bg3.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0% 0% 19% 19%;
	

}
.nav-links{
	display:inline-block;
	font-size: 1.5vw;
	margin: 2vw;
}
	</style>


	<nav class="nav">
	<ul>

		<li class="nav-links"><a style="color:red;" href="/">Home</a></li>
		<li class="nav-links"><a href="/ab/course">Courses</a></li>
		<li class="nav-links"><a href="/ab/course#teachers">Teachers</a></li>
		<li class="nav-links"><a href="/ab/about">About</a></li>
		<li class="nav-links"><a href="/ab/about#contactus">Contactus</a></li>
	</ul>
		
	</nav>

	<div class="box">
		<div class="circle"><a href="/ab/course">Courses</a></div>
		<div class="circle"><a href="/ab/course#teachers"> Teachers</a></div>
		<div class="circle"><a href="/ab/about">About</a></div>
		<div class="circle"><a href="/ab/about#contactus">Contactus</a></div>
		
		
		
	</div>
